<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Inclus찾o Digital</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-login-aluno.css">
</head>

<body>
    <div class="login-container">
        <div class="login-card">
            <div class="logo">Inf창ncia Conectada</div>
            <img src="images/logo-infancia.png" alt="Logo Inf창ncia Conectada" id="logotipo">
            <h1 class="title">Bem-vindo!</h1>
            <p class="subtitle">Entre na sua conta Inf창ncia Conectada</p>

            <form id="loginForm">
                <div class="form-group">
                    <label class="form-label" for="nickname">Nickname</label>
                    <input type="text" id="nickname" name="nickname" class="form-input"
                        placeholder="Digite seu nickname" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="password">Senha</label>
                    <input type="password" id="password" name="password" class="form-input"
                        placeholder="Digite sua senha" required>
                </div>

                <button type="submit" class="login-button">Entrar</button>
            </form>

        </div>
    </div>

    <script src="js/script-login-aluno.js"></script>

</body>

</html>